/* ********************* */
/* TEAM-SECTION*/
/* *********************** */
.team_section {
  background: linear-gradient(
      rgba(231, 241, 248, 0.9),
      rgba(231, 241, 248, 0.9)
    ),
    url(../resources/img/background/team-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  text-align: center;
}
.team_section h2 {
  color: #3b4661;
}
.team_section h2::after {
  border-color: #c7d9e7;
}
.team-section h3 {
  color: #27283d;
}
.team_section p {
  color: #3b4661;
}
/*PARAGRAPH*/
.little_descripton {
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 3rem;
  text-align: center;
}

.social_icon {
  transition: transform 0.4s ease-in-out;
}

.social_icon:hover {
  transform: rotate(360deg);
}
