@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the color of the scrollbar thumb */
}

/* Firefox */
/* Set the width and color of the scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
  font-family: "Titillium Web", sans-serif;
}

html {
  font-family: "Titillium web", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* BUTTON */
.btn:link,
.btn:visited,
.btn {
  background: #333333;
  border: none;
  border-bottom: 0.4rem solid #000000;
  border-radius: 0.3rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.6rem 5.5rem;
  display: inline-block;
  transition: 0.5s;
  margin-top: 4.5rem;
}
.btn:link:hover,
.btn:visited:hover,
.btn:hover {
  background: #ffffff;
  color: #333333;
}

/* 
  section heading
*/
/*HEADDING*/

.section_heading {
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.section_heading::after {
  content: "";
  display: block;
  height: 0.4rem;
  background: #ffffff;
  width: 8.5rem;
  margin: auto;
  margin-top: 2rem;
}
